<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Start project.">
    <meta name="keywords" content="Lanchonete">
    <meta name="author" content="Grupo Programação Colaborativa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Launch or Net</title>
</head>
<body>

<h1>Permita-se...</h1>
só não use tabelas sem necessidade...
</body>
</html>